# <center>Numbers</center>
## Integers

In [1]:
# 2, 5, 20 etc

## Float

In [2]:
#1.5, 102.05

## <center>Mathimatical Operation</center>

| Operation | Operation Name   |
|------|------|
|   *  | Multiplication|
|   /  | Division|
|   +  | Addition|
|   -  | Subtraction|
|   //  | Floor division|
|   %  | Modulo|
|  **  | Power|

In [3]:
5 + 5

10

In [4]:
5*2

10

In [5]:
15 - 6

9

In [6]:
15 / 4

3.75

In [7]:
15 // 4

3

In [8]:
15 % 4

3

In [9]:
10%6

4

## <center>Shorthand Operation</center>

| Operation | Equivalent to    |
|------|------|
|  x += 1 | x = x + 1|
|  x -= 1 | x = x - 1|
|  x *= 1 | x = x * 1|
|  x /= 1 | x = x / 1|

In [10]:
x = 10

In [11]:
x += 6

In [12]:
print(x)

16

In [13]:
x

16

In [14]:
x -= 3

In [15]:
x

13

In [16]:
x *= 3
x

39

In [17]:
x /= 5

In [18]:
x

7.8

In [19]:
2 + 4 * 6 -7**2

-23

## <center>Order of operation</center>

|Operation Name| Operation symbol|
|----------|---------|
|Parentheses| ()|
|Exponent|   **|
|Multiplication| *, /, %|
|Addition|     +, -|

In [20]:
(2+5)*6-3**2

33

In [21]:
print('Hello World!')

Hello World!

In [22]:
print(x)

7.8

In [23]:
input("Please enter your age: ")

Please enter your age:  3

'3'

In [24]:
age = input("Please enter your age: ")

Please enter your age:  40

In [25]:
print(age)

40

In [26]:
type(age)

str

In [27]:
age + 3

TypeError: can only concatenate str (not "int") to str

In [28]:
int(age)

40

In [29]:
age = int(input("Please enter your age: "))

Please enter your age:  40

In [30]:
age + 3

43

## <center>Boolean</center>

In [31]:
is_free = True

In [32]:
is_active = False

## <center>Boolean Operations</center>

|Operation Name| Example|
|----------|---------|
|and| a and b|
|or|   a or b|
|not| not a|

In [33]:
is_free and is_active

False

In [34]:
is_active and True

False

In [35]:
is_free or is_active

True

In [36]:
not is_free

False

In [37]:
not is_active

True