# <center> Collections

## Dictionary

In [1]:
phone = {
    'Jack': 112223,
    'Marry': 232134,
    'David': 457321
}

In [2]:
type(phone)

dict

In [3]:
phone['Jack']

112223

In [4]:
phone['Jack'] = 2222222

In [5]:
phone

{'Jack': 2222222, 'Marry': 232134, 'David': 457321}

In [6]:
phone['Paul'] = 111111

In [7]:
phone

{'Jack': 2222222, 'Marry': 232134, 'David': 457321, 'Paul': 111111}

In [8]:
phone['Paul2']

KeyError: 'Paul2'

In [9]:
phone.get('Paul2', 'Not Found')

'Not Found'

In [10]:
phone.keys()

dict_keys(['Jack', 'Marry', 'David', 'Paul'])

In [11]:
phone.values()

dict_values([2222222, 232134, 457321, 111111])

In [12]:
phone.items()

dict_items([('Jack', 2222222), ('Marry', 232134), ('David', 457321), ('Paul', 111111)])

In [13]:
phone.pop('Paul')
phone

{'Jack': 2222222, 'Marry': 232134, 'David': 457321}

In [14]:
del phone['Jack']

In [15]:
phone

{'Marry': 232134, 'David': 457321}

In [16]:
phone2 = phone.copy()

In [17]:
phone['Jack'] = 12121212

In [18]:
phone

{'Marry': 232134, 'David': 457321, 'Jack': 12121212}

In [19]:
phone2

{'Marry': 232134, 'David': 457321}

In [20]:
salary = {
    'Jack': 20000,
    "Paul": 19000,
    'Marry': 21000
}

In [21]:
salary2 = {}
for k, v in salary.items():
    salary2[k] = v * 1.2
salary2

{'Jack': 24000.0, 'Paul': 22800.0, 'Marry': 25200.0}

In [22]:
{k:v * 1.2 for k,v in salary.items()}

{'Jack': 24000.0, 'Paul': 22800.0, 'Marry': 25200.0}

In [23]:
spanish = {}

In [24]:
spanish['hello'] = 'hola'
spanish['yes'] = 'si'
spanish['one'] = 'uno'

In [25]:
spanish

{'hello': 'hola', 'yes': 'si', 'one': 'uno'}

## Tuples

In [26]:
x = 1,
y = 1, 3, 6
z = (1, 3, 'Apple', True)

In [27]:
print(type(x), type(y), type(z))

<class 'tuple'> <class 'tuple'> <class 'tuple'>

In [28]:
z[0]

1

In [29]:
z[0] = 3

TypeError: 'tuple' object does not support item assignment

In [30]:
tuple_data = (1, 1, 1, 3, 4, 5, 4)

In [31]:
tuple_data.count(1)

3

In [34]:
tuple_data.count(4)

2

In [35]:
tuple_data.index(3)

3

In [36]:
for item in tuple_data:
    print(item)

1
1
1
3
4
5
4

In [37]:
x, y, z = [1, 2, 3]
print(x, y, z)

1 2 3

In [38]:
x, y, z = (1, 2, 3, 4, 5)

ValueError: too many values to unpack (expected 3)

In [39]:
x, *y, z = (1, 2, 3, 4, 5)

In [40]:
print(x)
print(y)
print(z)

1
[2, 3, 4]
5

In [41]:
x, y, *z = (1, 2, 3, 4, 5)

In [42]:
print(x)
print(y)
print(z)

1
2
[3, 4, 5]

## Sets

In [43]:
set1 = {1, 2, 2, 3, 4, 4, 3, 'Apple'}
set2 = set([1, 1, 1, 5, 6, 7])

In [45]:
print(type(set1))
print(type(set2))

<class 'set'>
<class 'set'>

In [46]:
set1

{1, 2, 3, 4, 'Apple'}

In [47]:
set2

{1, 5, 6, 7}

In [48]:
set1.add(8)

In [49]:
set1

{1, 2, 3, 4, 8, 'Apple'}

In [50]:
set1.pop()
set1

{2, 3, 4, 8, 'Apple'}

In [53]:
set1.remove(8)

In [54]:
set1

{2, 3, 4, 'Apple'}

In [55]:
set1[0] = 8

TypeError: 'set' object does not support item assignment

## <center>Sets Operations
|Operator|Example|Description|
|--------|-------|-----------|
|&|x & y| # intersect letters in x and y
|\||x \| y|  # union letters in x or y or both
|-|x - y| # difference letters in x but not in y	
|^|x ^ y| # symmetric difference letters in x or y but not both

In [57]:
print(set1)
print(set2)

{2, 3, 4, 'Apple'}
{1, 5, 6, 7}

In [59]:
set2.add(2)
set2.add(3)

In [60]:
print(set1)
print(set2)

{2, 3, 4, 'Apple'}
{1, 2, 3, 5, 6, 7}

In [61]:
set1 & set2

{2, 3}

In [62]:
set1 | set2

{1, 2, 3, 4, 5, 6, 7, 'Apple'}

In [63]:
set1 - set2

{4, 'Apple'}

In [64]:
set2 - set1

{1, 5, 6, 7}

In [65]:
set1 ^ set2

{1, 4, 5, 6, 7, 'Apple'}

In [66]:
for item in set1:
    print(item)

2
3
4
Apple