# <center>Map

In [1]:
def square(n):
    return n**2

In [2]:
x = [3, 5, 8, 20]

In [3]:
map(square, x)

In [4]:
z = map(square, x)

In [5]:
list(z)

[9, 25, 64, 400]

In [6]:
z = []
for i in x:
    z.append(square(i))

In [7]:
z

[9, 25, 64, 400]

# <center>Zip

In [8]:
x = [3, 5, 8]
y = ['apple', 'banana', 'orange']

In [9]:
z = list(zip(x, y))

In [10]:
z

[(3, 'apple'), (5, 'banana'), (8, 'orange')]

In [11]:
m = [4.0, 3.5, 3.7]

In [12]:
list(zip(x, y, m))

[(3, 'apple', 4.0), (5, 'banana', 3.5), (8, 'orange', 3.7)]

In [13]:
list(zip(x, m, y))

[(3, 4.0, 'apple'), (5, 3.5, 'banana'), (8, 3.7, 'orange')]

In [14]:
z = list(zip(x, m, y))

In [15]:
a, b, c = zip(*z)

In [16]:
a

(3, 5, 8)

In [17]:
b

(4.0, 3.5, 3.7)

In [18]:
c

('apple', 'banana', 'orange')

In [19]:
dict(zip(c, b))

{'apple': 4.0, 'banana': 3.5, 'orange': 3.7}

# <center>Enumerate

In [20]:
x = [1, 32, 4, 7, 8]

In [21]:
for i,j in enumerate(x):
    print(i, j)

0 1
1 32
2 4
3 7
4 8

In [22]:
for i,j in enumerate(x, start=1):
    print(i, j)

1 1
2 32
3 4
4 7
5 8

# <center>Lambda

## Lambda argument: expression

In [24]:
a = lambda x: x**2

In [25]:
a(10)

100

In [26]:
a

In [27]:
z = map(lambda x:x*x, x)

In [28]:
list(z)

[1, 1024, 16, 49, 64]

In [29]:
presidents = ['Donald Trump', 'Barack Obama', 'George W. Bush', 'Bill Clinton', 'George H. W. Bush']

In [30]:
presidents.sort()

In [32]:
presidents

['Barack Obama',
 'Bill Clinton',
 'Donald Trump',
 'George H. W. Bush',
 'George W. Bush']

In [33]:
def sort_pres(name):
    return name.split()[-1]

In [34]:
presidents.sort(key=sort_pres)

In [35]:
presidents

['George H. W. Bush',
 'George W. Bush',
 'Bill Clinton',
 'Barack Obama',
 'Donald Trump']

In [36]:
presidents = ['Donald Trump', 'Barack Obama', 'George W. Bush', 'Bill Clinton', 'George H. W. Bush']

In [37]:
presidents.sort(key=lambda x: x.split()[-1])

In [38]:
presidents

['George W. Bush',
 'George H. W. Bush',
 'Bill Clinton',
 'Barack Obama',
 'Donald Trump']

# <center> \*args, \**kwargs

In [39]:
def add_two(a, b):
    return a+b

In [40]:
add_two(10, 15)

25

In [41]:
def add_many(*args):
    result = 0
    for arg in args:
        result += arg
    return result

In [42]:
add_many(1, 3)

4

In [43]:
add_many(1, 3, 4, 5, 6)

19

In [48]:
def fun(*args, **kwargs):
    print(type(args))
    print(type(kwargs))

In [49]:
fun(1, a=3)

<class 'tuple'>
<class 'dict'>

In [50]:
def con_many(**kwargs):
    result = ""
    for v in kwargs.values():
        result += v
    return result

In [51]:
con_many(a='a', b='b', c='c')

'abc'

In [52]:
con_many(a='a', b='b', c='c', d='d')

'abcd'

# <center>\_\_name\_\_

In [53]:
__name__

'__main__'