# <center>Classes

In [1]:
class Employee:
    pass

In [2]:
emp1 = Employee()

In [3]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary

In [4]:
emp1 = Employee()

TypeError: __init__() missing 3 required positional arguments: 'firstname', 'lastname', and 'salary'

In [5]:
emp1 = Employee('Tom', 'Jack', 20000)

In [6]:
emp2 = Employee('Tim', 'Hardy', 23000)

In [7]:
emp3 = Employee('Tony', 'Patric', 25000)

In [8]:
emp1

In [9]:
emp2

In [10]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    def full_name(self):
        return self.firstname + " " + self.lastname

In [11]:
emp1 = Employee('Tom', 'Jack', 20000)
emp2 = Employee('Tim', 'Hardy', 23000)
emp3 = Employee('Tony', 'Patric', 25000)

In [12]:
emp1.full_name()

'Tom Jack'

In [13]:
emp2.full_name()

'Tim Hardy'

In [14]:
emp3.full_name()

'Tony Patric'

In [15]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    def full_name(self):
        return self.firstname + " " + self.lastname
    
    def new_salary(precentage):
        return self.salary * (1+percentage)

In [16]:
emp1 = Employee('Tom', 'Jack', 20000)

In [17]:
emp1.new_salary(0.4)

TypeError: new_salary() takes 1 positional argument but 2 were given

In [21]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    def full_name(self):
        return self.firstname + " " + self.lastname
    
    def new_salary(self, precentage):
        return self.salary * (1+precentage)

In [22]:
emp1 = Employee('Tom', 'Jack', 20000)
emp2 = Employee('Tim', 'Hardy', 23000)
emp3 = Employee('Tony', 'Patric', 25000)

In [23]:
print(emp1.new_salary(0.2))
print(emp2.new_salary(0.18))
print(emp3.new_salary(0.1))

24000.0
27140.0
27500.000000000004

In [24]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    
    def get_grade(self):
        return self.grade

In [25]:
class Course:
    def __init__(self, name, num_students):
        self.name = name
        self.students = []
        self.num_stundents = num_students
        
    def add_student(self, student):
        if len(self.students) < self.num_stundents:
            self.students.append(student)
        else:
            print("Course reached maximum number")

In [26]:
st1 = Student('Tom', 90)
st2 = Student('Hank', 92)
st3 = Student('Jim', 95)

In [27]:
cs1 = Course('History', 2)

In [28]:
cs1.add_student(st1)

In [29]:
cs1.add_student(st2)

In [30]:
cs1.add_student(st3)

Course reached maximum number

In [31]:
cs1.students

In [32]:
for student in cs1.students:
    print(student.name)

Tom
Hank