# <center>Class Variables

In [1]:
class Employee:
    salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * self.salary_raise

In [2]:
emp1 = Employee('Tom', 'Hardy', 21000)

In [3]:
emp1.get_raise()

22470.0

In [4]:
emp2 = Employee('Tim', 'Hary', 23000)

In [5]:
emp2.get_raise()

24610.0

In [6]:
Employee.salary_raise

1.07

In [7]:
emp1.salary_raise = 1.09

In [8]:
emp1.get_raise()

22890.0

In [9]:
Employee.salary_raise

1.07

In [10]:
emp1.__dict__

{'firstname': 'Tom',
 'lastname': 'Hardy',
 'salary': 21000,
 'salary_raise': 1.09}

In [11]:
emp2.__dict__

{'firstname': 'Tim', 'lastname': 'Hary', 'salary': 23000}

In [12]:
class Employee:
    salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * Employee.salary_raise

In [13]:
emp1 = Employee('Tom', 'Hardy', 21000)

In [14]:
emp1.get_raise()

22470.0

In [15]:
emp1.salary_raise = 3

In [16]:
emp1.get_raise()

22470.0

In [17]:
class Employee:
    __salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def get_raise(self):
        return self.salary * Employee.__salary_raise

In [18]:
emp1 = Employee('Tom', 'Hardy', 21000)

In [19]:
emp1.get_raise()

22470.0

In [20]:
emp1.__salary_raise

AttributeError: 'Employee' object has no attribute '__salary_raise'

In [21]:
Employee.__salary_raise

AttributeError: type object 'Employee' has no attribute '__salary_raise'

In [22]:
Employee._Employee__salary_raise

1.07

In [23]:
class Employee:
    salary_raise = 1.07
    no_of_employee = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_employee += 1
        
    def get_raise(self):
        return self.salary * Employee.salary_raise

In [24]:
emp1 = Employee('Tom', 'Hardy', 21000)
emp2 = Employee('Tim', 'Hary', 23000)

In [25]:
emp1.no_of_employee

2

In [26]:
emp2.no_of_employee

2

In [27]:
Employee.no_of_employee

2

In [28]:
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        
    def get_grade(self):
        return self.grade

class Course:
    total_students = 0
    def __init__(self, name, max_students):
        self.name = name
        self.max_students = max_students
        self.students = []
    
    def add_student(self, student):
        if len(self.students) < self.max_students:
            self.students.append(student)
            Course.total_students += 1
        else:
            print('Course has reached its maximum value')

In [29]:
st1 = Student('Tom', 90)
st2 = Student('Tim', 92)
st3 = Student('Jack', 93)
st4 = Student('Harry', 95)
st5 = Student('Marry', 95)
st6 = Student('Jane', 97)

In [30]:
cs1 = Course('History', 3)
cs2 = Course('Math', 2)

In [31]:
cs1.add_student(st1)
cs1.add_student(st2)
cs1.add_student(st3)
cs1.add_student(st4)

Course has reached its maximum value

In [32]:
cs2.add_student(st4)
cs2.add_student(st5)
cs2.add_student(st6)

Course has reached its maximum value

In [33]:
Course.total_students

5

# <center> Class Methods

In [37]:
class Employee:
    salary_raise = 1.07
    no_of_employee = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_employee += 1
        
    def get_raise(self):
        return self.salary * Employee.salary_raise
    
    @classmethod
    def from_csv(cls, emp):
        firstname, lastname, salary = emp.split(',')
        return cls(firstname, lastname, int(salary))

In [38]:
emp1 = Employee.from_csv('Tom, John, 80000')

In [39]:
emp1.get_raise()

85600.0

In [40]:
class Employee:
    salary_raise = 1.07
    no_of_employee = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_employee += 1
        
    def get_raise(self):
        return self.salary * Employee.salary_raise
    
    @classmethod
    def from_csv(cls, emp):
        firstname, lastname, salary = emp.split(',')
        return cls(firstname, lastname, int(salary))
    
    @classmethod
    def from_str(cls, emp):
        firstname, lastname, salary = emp.split(' ')
        return cls(firstname, lastname, int(salary))

In [42]:
emp1 = Employee.from_str('Tom John 80000')

In [43]:
emp1.get_raise()

85600.0

# <center>Static Methods

In [44]:
class Employee:
    salary_raise = 1.07
    no_of_employee = 0
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        Employee.no_of_employee += 1
        
    def get_raise(self):
        return self.salary * Employee.salary_raise
    
    @staticmethod
    def add_to_db(empid):
        db = ['emp001', 'emp002', 'emp003']
        if empid in db:
            print(f'Employee with id {empid} is already in our records')
        else:
            print(f'Employee with id {empid} does not exist')

In [45]:
emp1 = Employee('Tom',  'John', '80000')

In [46]:
emp1.add_to_db('emp005')

Employee with id emp005 does not exist