# <center>Class Inheritance

In [1]:
class Employee:
    salary_raise = 1.07
    
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    def get_raise(self):
        return self.salary * self.salary_raise

In [2]:
class Engineer(Employee):
    pass

In [3]:
eng1 = Engineer()

TypeError: __init__() missing 3 required positional arguments: 'firstname', 'lastname', and 'salary'

In [4]:
eng1 = Engineer('Tom', 'Hardy', 25000)

In [5]:
eng1.get_raise()

26750.0

In [6]:
class Engineer(Employee):
    salary_raise = 1.15

In [7]:
eng1 = Engineer('Tom', 'Hardy', 25000)

In [8]:
eng1.get_raise()

28749.999999999996

In [9]:
class Engineer(Employee):
    salary_raise = 1.15
    
    def __init__(self, firstname, lastname, salary, pmp_no):
        super().__init__(firstname, lastname, salary)
        self.pmp_no = pmp_no

In [10]:
eng1 = Engineer('Tom', 'Hardy', 25000, 1231464)

In [11]:
eng1.get_raise()

28749.999999999996

In [12]:
class Engineer(Employee):
    salary_raise = 1.15
    
    def __init__(self, firstname, lastname, salary, pmp_no):
        super().__init__(firstname, lastname, salary)
        self.pmp_no = pmp_no
        
    def get_raise(self):
        return self.salary * self.salary_raise + 1000

In [13]:
eng1 = Engineer('Tom', 'Hardy', 25000, 1231464)

In [14]:
eng1.get_raise()

29749.999999999996

In [15]:
class Accountant(Employee):
    pass

In [16]:
ac1 = Accountant('Jack', 'Tony', 10000)

In [17]:
ac1.get_raise()

10700.0

In [18]:
class Manager(Engineer, Employee):
    pass

In [19]:
mg1 = Manager('Marry', 'Rayen', 40000, 1213132)

In [20]:
mg1.salary_raise

1.15

In [21]:
mg1.get_raise()

47000.0

In [22]:
40000*1.15+1000

47000.0