# <center> Classes Special Methods

## Getters

In [1]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        self.fullname = firstname + " " + lastname

In [2]:
emp1 = Employee("Tim", "Glen", 25000)

In [3]:
emp1.fullname

'Tim Glen'

In [4]:
emp1.firstname = "John"

In [5]:
emp1.fullname

'Tim Glen'

In [6]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    def fullname(self):
        return self.firstname + " " + self.lastname

In [7]:
emp1 = Employee("Tim", "Glen", 25000)

In [8]:
emp1.fullname

In [9]:
emp1.fullname()

'Tim Glen'

In [10]:
emp1.firstname = "John"

In [11]:
emp1.fullname()

'John Glen'

In [12]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        
    @property    
    def fullname(self):
        return self.firstname + " " + self.lastname

In [13]:
emp1 = Employee("Tim", "Glen", 25000)

In [14]:
emp1.fullname

'Tim Glen'

In [15]:
emp1.firstname = "John"

In [16]:
emp1.fullname

'John Glen'

## Setters

In [17]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
        self.fullname = firstname + " " + lastname

In [18]:
emp1 = Employee("Tim", "Glen", 25000)

In [19]:
emp1.fullname

'Tim Glen'

In [20]:
emp1.fullname = "Toney Jack"

In [21]:
emp1.fullname

'Toney Jack'

In [22]:
emp1.firstname

'Tim'

In [23]:
emp1.lastname

'Glen'

In [25]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    @fullname.setter
    def fullname(self, name):
        firstname, lastname = name.split(" ")
        self.firstname = firstname
        self.lastname = lastname

In [26]:
emp1 = Employee("Tim", "Glen", 25000)

In [27]:
emp1.fullname

'Tim Glen'

In [28]:
emp1.fullname = "Toney Jack"

In [29]:
emp1.fullname

'Toney Jack'

In [30]:
emp1.firstname

'Toney'

In [31]:
emp1.lastname

'Jack'

In [32]:
print(emp1)

<__main__.Employee object at 0x0676ED18>

In [33]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    def __str__(self):
        return self.fullname

In [34]:
emp1 = Employee("Tim", "Glen", 25000)

In [35]:
print(emp1)

Tim Glen

In [36]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    def __repr__(self):
        return self.firstname

In [37]:
emp1 = Employee("Tim", "Glen", 25000)

In [38]:
print(emp1)

Tim

In [39]:
repr(emp1)

'Tim'

In [40]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    def __repr__(self):
        return self.firstname
    
    def __str__(self):
        return self.fullname

In [41]:
emp1 = Employee("Tim", "Glen", 25000)

In [42]:
print(emp1)

Tim Glen

In [43]:
repr(emp1)

'Tim'

In [44]:
dir(Employee)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'fullname']

In [45]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    def __repr__(self):
        return self.firstname
    
    def __str__(self):
        return self.fullname
    
    def __add__(self, other):
        return self.salary + other.salary

In [46]:
emp1 = Employee("Tim", "Glen", 25000)
emp2 = Employee("Tom", "Glen", 30000)

In [47]:
emp1 + emp2

55000

In [48]:
class Employee:
    def __init__(self, firstname, lastname, salary):
        self.firstname = firstname
        self.lastname = lastname
        self.salary = salary
    
    @property
    def fullname(self):
        return self.firstname + " " + self.lastname
    
    def __repr__(self):
        return self.firstname
    
    def __str__(self):
        return self.fullname
    
    def __add__(self, other):
        return self.salary + other.salary
    
    def __sub__(self, other):
        return self.salary - other.salary

In [49]:
emp1 = Employee("Tim", "Glen", 25000)
emp2 = Employee("Tom", "Glen", 30000)

In [50]:
emp2 - emp1

5000

In [51]:
1 + 3

4

In [52]:
'Hi' + " " + "There"

'Hi There'

## [Full Operators List](https://docs.python.org/3.8/library/operator.html)