# <center> Connecting to server

In [1]:
from mongoengine import *

In [2]:
connection = connect(host="mongodb+srv://")

# Create Document

In [3]:
class Student(Document):
    firstname = StringField(max_length=50, required=True)
    lastname = StringField(max_length=50, required=True)
    email = EmailField()
    grade = FloatField()

In [4]:
student = Student()

In [5]:
student.firstname = 'Tom'
student.lastname = "Jack"
student.email = "tom.jack@email.com"
student.grade = 95

In [6]:
student.save()

In [7]:
student.id

ObjectId('5f051039445698c2cf260439')

In [8]:
student.to_json()

'{"_id": {"$oid": "5f051039445698c2cf260439"}, "firstname": "Tom", "lastname": "Jack", "email": "tom.jack@email.com", "grade": 95.0}'

In [9]:
class Student(Document):
    firstname = StringField(max_length=50, required=True)
    lastname = StringField(max_length=50, required=True)
    email = EmailField(unique=True)
    grade = FloatField()
    
    meta = {
        'collection': "class_students",
        "indexes": [
            'firstname',
            'lastname',
            'email'
        ]
    }

In [10]:
student = Student()

In [11]:
student.firstname = 'Tom'
student.lastname = "Jack"
student.email = "tom.jack@email.com"
student.grade = 95

In [12]:
student.save()

In [14]:
student1 = Student()

In [17]:
student1.firstname = 'Tim'
student1.lastname = "Jack"
student1.email = "tim.jack@email.com"
student1.grade = 95

In [18]:
student1.save()

In [19]:
student2 = Student()
student2.firstname = 'Harry'
student2.lastname = "Jack"
student2.email = "harry.jack@email.com"
student2.grade = 95
student2.save()

In [20]:
student3 = Student()
student3.firstname = 'Marry'
student3.lastname = "Jack"
student3.email = "m.jack@email.com"
student3.grade = 95
student3.save()

In [21]:
student = Student()

In [29]:
student = Student.objects(firstname='Marry').first()

In [31]:
student.firstname

'Marry'

In [32]:
student.lastname

'Jack'

In [33]:
student.lastname = "Harry"

In [34]:
student.save()

In [35]:
student = Student.objects(firstname='Tim').first()

In [36]:
student.delete()

## [Full list of Fields type](http://docs.mongoengine.org/guide/defining-documents.html#fields)