# <center>Querying Documents

In [1]:
from mongoengine import *

In [2]:
connection = connect(host="mongodb+srv://")

In [3]:
class Student(Document):
    firstname = StringField(max_length=50, required=True)
    lastname = StringField(max_length=50, required=True)
    email = EmailField(unique=True)
    grade = FloatField()
    
    meta = {
        'collection': 'class_students',
        "indexes": [
            'firstname',
            'lastname',
            'email'
        ]
    }

In [4]:
students = Student.objects

In [5]:
students

In [6]:
class Student(Document):
    firstname = StringField(max_length=50, required=True)
    lastname = StringField(max_length=50, required=True)
    email = EmailField(unique=True)
    grade = FloatField()
    
    meta = {
        'collection': 'class_students',
        "indexes": [
            'firstname',
            'lastname',
            'email'
        ]
    }
    
    def __str__(self):
        return self.firstname + " " + self.lastname

In [7]:
students = Student.objects

In [8]:
students

In [10]:
for student in students:
    txt = f"Student {student.firstname} {student.lastname} with email {student.email} has grade {student.grade}"
    print(txt)

Student Tom Jack with email tom.jack@email.com has grade 80.0
Student Harry Jack with email harry.jack@email.com has grade 90.0
Student Marry Harry with email m.jack@email.com has grade 95.0

In [11]:
Student.objects(firstname="Tom")

In [12]:
tom = Student.objects(firstname="Tom")

In [13]:
tom.firstname

AttributeError: 'QuerySet' object has no attribute 'firstname'

In [14]:
tom = Student.objects(firstname="Tom").first()

In [15]:
tom

In [16]:
tom.firstname

'Tom'

In [17]:
Student.objects(firstname="Marry").first()

In [19]:
Student.objects(lastname="Jack")

In [20]:
Student.objects(grade__lte=80)

In [21]:
for student in students:
    txt = f"Student {student.firstname} {student.lastname} with email {student.email} has grade {student.grade}"
    print(txt)

Student Tom Jack with email tom.jack@email.com has grade 80.0
Student Harry Jack with email harry.jack@email.com has grade 90.0
Student Marry Harry with email m.jack@email.com has grade 95.0

In [22]:
Student.objects(grade__lt=96)

In [23]:
Student.objects(grade__lte=93)

In [24]:
Student.objects(grade__gte=76)

In [25]:
Student.objects(grade__not__lte=93)

In [26]:
Student.objects(grade__in=[60, 70, 80, 85])

In [27]:
Student.objects(grade__nin=[60, 70, 80, 85])

In [28]:
Student.objects(grade__not__in=[60, 70, 80, 85])

In [21]:
for student in students:
    txt = f"Student {student.firstname} {student.lastname} with email {student.email} has grade {student.grade}"
    print(txt)

Student Tom Jack with email tom.jack@email.com has grade 80.0
Student Harry Jack with email harry.jack@email.com has grade 90.0
Student Marry Harry with email m.jack@email.com has grade 95.0

In [29]:
Student.objects(firstname__exact='tom')

[]

In [30]:
Student.objects(firstname__iexact='tom')

In [31]:
Student.objects(lastname__startswith='ja')

[]

In [32]:
Student.objects(lastname__istartswith='ja')

In [33]:
Student.objects(email__icontains='m.')

In [34]:
Student.objects.order_by('grade')

In [35]:
Student.objects.order_by('-grade')

In [36]:
Student.objects.order_by('firstname', 'lastname')

In [37]:
Student.objects()[0:2]

In [39]:
Student.objects()[0]

In [42]:
Student.objects()[Student.objects.count()-1]

In [43]:
Student.objects.count()

3

In [44]:
len(Student.objects)

3

In [45]:
Student.objects.average('grade')

88.33333333333333

In [46]:
Student.objects.sum('grade')

265.0

In [21]:
for student in students:
    txt = f"Student {student.firstname} {student.lastname} with email {student.email} has grade {student.grade}"
    print(txt)

Student Tom Jack with email tom.jack@email.com has grade 80.0
Student Harry Jack with email harry.jack@email.com has grade 90.0
Student Marry Harry with email m.jack@email.com has grade 95.0

In [49]:
Student.objects(Q(grade__gte=90) & Q(firstname__contains='rr'))

In [50]:
Student.objects(Q(grade__gte=90) | Q(lastname__contains='ac'))